/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
} */

.container-body{
  display: flex;
  min-height: 100vh;
  place-items: center;
}

@media only screen and (min-width: 600px) {
  .hello-world{
    position: relative;
    top: -100px;
  }
}
@media only screen and (min-width: 300px) {
  .hello-world{
    position: relative;
    top: -100px;
    left: 100px;
  }
}

